.ce-color-tune--colorWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ce-color-tune--colorSelect {
    width: 100%;
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
    background: transparent;
}

.ce-color-tune--colorIcon svg {
    margin-right: 2px;
    width: 12px;
    height: 12px;
}
